{{#md-card
  title="What's with framing squares?"
  class="medium"
  image="http://materializecss.com/images/office.jpg" as |c|}}
  {{#c.content}}
    <p>It's way too big for using with this notebook. This staged stock image makes absolutely no sense, although the color scheme is kind of appealing.</p>
  {{/c.content}}
  {{#c.actions as |a|}}
    {{#a.btn class="red white-text"
      on-click=(action 'wasClicked' 'No')}}
      No {{/a.btn}}
    {{#a.btn class="green right white-text"
      on-click=(action 'wasClicked' 'Yes')}}
      Yes {{/a.btn}}
  {{/c.actions}}
  {{#c.reveal}}
    Stock photography doesn't have to make sense. It doesn't need to have a point, it just needs to look decent enough
  {{/c.reveal}}
{{/md-card}}