nav .nav-wrapper {
  .brand-logo {
    .material-icons {
      position: relative;
      top: 0.3rem;
      line-height: 1rem;
      height: 2rem;
    }
  }
  .md-nav-link {
    .material-icons {
      position: relative;
      top: 0.6rem;
      line-height: 1rem;
      height: 2rem;
    }
  }
}
