<div class="row">
  <div class="col s12">
    <h3>{{title}}</h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
    {{yield (hash
        params=(component 'x-component-doc-params')
        actions=(component 'x-component-doc-actions')
    )}}
  </div>
</div>
