// Example app.scss
@import 'components/color';

// Custom color settings go here
$primary-color: color("blue-grey", "darken-2");

@import 'components/variables';
@import 'materialize';

@import "x-example";
@import "x-component-doc";
.code {
  padding: 2px;
  background-color: color('grey', 'lighten-2');
  font-family: monospace;
  white-space: pre;
}
