<a class='dropdown-button' data-activates={{_dropdownRoot._dropdownMenuId}}>
<i class="material-icons right">arrow_drop_down</i>
  {{#if icon}}
    <i class="material-icons">{{icon}}</i>
  {{/if}}
  {{text}}{{yield}}
</a>